<body>
  <div><%= flash[:success] %></div>
  <div><%= flash[:updated] %></div>
  <p>
    <strong>Title:</strong>
    &nbsp;<%= @book.title %>
  </p>
  <p>
    <strong>Body:</strong>
    &nbsp;<%= @book.body %>
  </p>
  <%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", books_path %>
</body>


